dist
node_modules
yarn-error.log
build
pnpm-debug.log
.env*
generated/api
packages/generator/coverage
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
reports
mutation.html
.stryker-tmp
coverage
.DS_Store
**/.DS_Store
prisma
packages/demo/prisma/dev.db
packages/demo/prisma/generated